---

---

<nav class="bg-red-800 shadow-lg flex justify-center">
  <div class="max-w-screen-2xl flex flex-1 flex-wrap md:flex-nowrap justify-between p-4">
    <a href="/" class="text-white focus:outline-none inline-flex place-items-center space-x-2 lg:space-x-4">
      <svg class="fill-current h-8 sm:h-10 md:h-12 lg:h-14 xl:h-16 transition-all duration-100" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M 7,0 C 6.75,0.0032 6.5,0.1644239 6.5,0.5 l 0,4.03125 C 3.906144,4.6951647 3,6.060613 3,7 l 8,0 C 11,6.060613 10.093856,4.6951647 7.5,4.53125 L 7.5,0.5 C 7.5,0.1516409 7.25,-0.0031957 7,0 z M 8,0 8,3 12,3 10,1.5 12,0 8,0 z m -7,8 0,1 1,0 0,4 -1,0 -1,1 14,0 -1,-1 -1,0 0,-4 1,0 0,-1 -12,0 z m 3,1 1,0 0,4 -1,0 0,-4 z m 2,0 2,0 0,4 -2,0 0,-4 z m 3,0 1,0 0,4 -1,0 0,-4 z"/>
      </svg>
      <span class="text-xs sm:text-base lg:text-lg xl:text-2xl font-light tracking-tight transition-all duration-100">MacEwan Political Science Club</span>
    </a>
  
    <div class="flex place-items-center md:order-2">
      <button type="button" class="hidden md:block text-white bg-red-600 hover:bg-red-700 focus:ring-2 focus:outline-none focus:ring-red-950 focus:bg-red-900 rounded-md text-sm lg:text-base xl:text-lg tracking-tight px-4 py-2 min-h-10 transition-all duration-100" tabindex="5">Placement Test</button>
      <button data-collapse-toggle="navbar-cta" type="button" tabindex="0" class="md:hidden w-8 h-8 sm:w-10 sm:h-10 p-1.5 sm:p-2 text-white rounded-md bg-red-600 hover:bg-red-700 focus:bg-red-900 focus:outline-none focus:ring-2 focus:ring-red-950 transition-all duration-100" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M1 2h14 M1 8.5h14 M1 15h14"/> 
        </svg>
      </button>
    </div>

    <div class="items-center hidden w-full md:w-auto md:flex md:order-1 mt-4 md:mt-0" id="navbar-cta">
      <ul class="flex-none md:inline-flex transition-all duration-100 font-light text-xs md:text-sm lg:text-base xl:text-lg rounded-md bg-red-600 md:bg-transparent md:space-x-2 md:flex-row md:mt-0 md:border-0">
        <li>
          <a href="/" class="block p-2 text-center text-white rounded hover:bg-red-700 focus:bg-red-900 focus:ring-2 focus:outline-none focus:ring-red-950 transition-all" tabindex="2">Home</a>
        </li>
        <li>
          <a href="/" class="block p-2 text-center text-white rounded hover:bg-red-700 focus:bg-red-900 focus:ring-2 focus:outline-none focus:ring-red-950 transition-all" tabindex="3">About</a>
        </li>
        <li>
          <a href="/" class="block p-2 text-center text-white rounded hover:bg-red-700 focus:bg-red-900 focus:ring-2 focus:outline-none focus:ring-red-950 transition-all" tabindex="4">Contact</a>
        </li>
        <li>
          <a href="/" class="visible md:hidden block p-2 text-center text-white rounded hover:bg-red-700 focus:bg-red-900 focus:ring-2 focus:outline-none focus:ring-red-950 transition-all" tabindex="5">Placement Test</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton = document.querySelector('[data-collapse-toggle="navbar-cta"]');
  const menu = document.getElementById('navbar-cta');

  if (menuButton && menu) {
    menuButton.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  };
</script>
