---
import Header from "./Header.astro";
import Body from "./Body.astro";

const { pageTitle, headerTitle } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/club-macps-site/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>Club MacPS | {pageTitle}</title>
    </head>
    <body class="bg-red-950">
        <div id="content-wrapper">
            <Header />
            <Body headerTitle={headerTitle}>
                <slot />
            </Body>
        </div>
    </body>
</html>
